.card {
    padding: 10px 0;
    margin: 0 10px;
    width: 270px;
    border: 1px solid #4C5067;
    background: #272935;
    color: #e6c31c;
    overflow-x: hidden;
}
.card:hover > .img {
    text-decoration: underline;
}

.img {
    display: block;
    width: 100%;
}